.card-genero {
    background-color: var(--color-dark);
    padding: 2.4rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
}

.card-genero:hover {
    transform: scale(0.98);
}

.card-genero h1, p {
    color: var(--color-mid);
}

.card-genero p {
    font-size: 1.4rem;
}